body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #1c1c1e;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: #2a2a2d;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  font-weight: bold;
  font-size: 20px;
}

header nav {
  display: flex;
  gap: 15px;
}

header link {
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #2a2a2d;
  padding: 20px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}

h1, h2, h3 {
  color: #00ffcc;
}


.home-container {
  background-image: url("https://images.unsplash.com/photo-1533158307587-828f0a76ef46?q=80&w=2874&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: #fff;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(15, 15, 15, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Orbitron', sans-serif;
}

.home-subtitle {
  font-size: 1rem;
  max-width: 600px;
  text-align: center;
}


.products-grid {
  display: grid;
  gap: 10px;
  padding: 10px;
}

/* Мобильные телефоны - 2 ряда, максимум 16 элементов */
@media (max-width: 600px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
    max-width: calc(2 * 150px + 10px); /* Пример ширины */
  }
}

/* Планшеты - 3 ряда, максимум 24 элемента */
@media (min-width: 601px) and (max-width: 1024px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: calc(3 * 150px + 20px);
  }
}

/* ПК - 4 ряда, максимум 32 элемента */
@media (min-width: 1025px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: calc(4 * 150px + 30px);
  }
}

.product-card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: box-shadow 0.3s ease;
  width: 150px;
  height: 150px;
}

.product-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(135, 116, 225, 0.8);
}

.icons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  gap: 5px;
  font-size: 18px;
  pointer-events: none;
}


.gallery img {
  max-width: 100%;
  border-radius: 8px;
}

.gallery-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
